<section class="bg-primary fixed-bottom">
  <nav class="navbar navbar-expand navbar-light">
    
    <div class="nav-footer collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
      
        <p class="text-white mb-0 pt-1 pb-1">Copyrigth©︎KomuWin</p>
      </div>
    </div>
  </nav>

</section>