<div class="interview_sheet-container px-3">
  <div class="interview_sheet-title">
    <h2>面接シート教材</h2>
  </div>
  <form class="mb-3 mx-auto search-form">
    <i class="fa fa-search search-icon"></i>
    <%= text_field_tag :title,"",  class: "form-control js-text-field", placeholder: "教材を探す"%>
  </form>
  
  <div class="row px--3 js-interview_sheets">
  <% @interview_sheets.each do |interview_sheet| %>
    <%= link_to(interview_sheet_path(interview_sheet.id), class: "interview_sheet-cell col-12 col-lg-4 m-0") do %>
      <div class="card border-dark mb-3">

        <div class="card-top embed-responsive embed-responsive-16by9 p-0">
          <img src="" alt="">
        </div>  

        <div class="card-bottom">
          <button type="button" class="btn btn-secondary">読破済みにする</button>
          <h3><%= interview_sheet.title %></h3>
          <p>[<%= interview_sheet.genre %>]</p>
        </div> 
      </div>
    <% end %>
  <% end %>
  </div>
  
</div>