<div class="interview_sheet-container">

  <section id="interview_sheet-content" class="mx-auto" style="width: 700px;">
  <h2 class="mt-5"><%= markdown(@interview_sheet.title).html_safe %></h2>
  <%= markdown(@interview_sheet.content).html_safe %>
  </section>

</div>