<div class="text-container">
  <section id="text-contents" class="mx-auto" style="700px;">

    <h2 class="mt-5"><%= markdown(@expected_question.title).html_safe %></h2>
    <hr>
    <%= markdown(@expected_question.content).html_safe %>

  </section>

</div>