<div class="text-container">
  <section id="text-contents" class="mx-auto" style="700px;">

    <h2 class="mt-5"><%= markdown(@expected_question.title).html_safe %></h2>
    <hr>
    <%= markdown(@expected_question.content).html_safe %>

    <div class="d-flex justify-content-end">
      <%= link_to '編集', edit_expected_question_path(@expected_question.id), class: "btn btn-secondary" %>
      
    </div>

  </section>

</div>