<div class="container">
  <section class="text-contents" class="mx-auto">

    <h2 class="mt-5"><%= markdown(@text.title).html_safe %></h2>
    <%= markdown(@text.content).html_safe %>

  </section>

</div>